{% extends 'base.html' %}

{% block content %}

{% load static %}





<div class="container-fluid padding">
  <h3 align="center">Brands</h3>
<div class="row padding">
{% for instance in object_list %}  
  <div class="col-md-4">
    <div class="hovereffect">
        <img class="img-responsive" src="{{ instance.photo.url }}" alt="">
        <div class="overlay">
           <h2>{{ instance.title }}</h2>
           <a class="info" href="{{ instance.link }}">View Products</a>
        </div>
    </div>
  </div>
  {% endfor %}
 </div>
</div>



{% endblock %}


