{% extends 'base.html' %}

{% block content %}

{% load static %}


<body>



<div class="container-fluid padding">
  <h2 align="center">Traditional</h2>  
<div class="row padding">

<div class="hover10 column">
  <div>
    <h2>Male</h2>
    <img src="{% static 'img/m2.jpg' %}"/>

    
  </div>
</div>
</div>
</div>



<div class="container-fluid padding">
<div class="row padding">
{% for instance in object_listmen %}
  <div class="col-md-2">
    <div class="Card">
      <img class="card-img-top" src = "{{ instance.photo.url }}" width="175" height="225">
      <div class="card-body">
        <h6 class="card-title">{{ instance.title }}</h6>
        <p class="card-text">Brand: {{ instance.brand }} <br /> BDT {{ instance.price }}</p>
        <a href = "{{instance.get_absolute_url}}" class="btn btn-outline-secondary">View Product</a>
      </div>
    </div>
  </div>  
{% endfor %}
</div>
</div>






<div class="container-fluid padding">
<div class="row padding">


<div class="hover10 column">
  <div>
    <h2>Female</h2>
    <img src="{% static 'img/wm2.jpg' %}"/>

    
  </div>
</div>
</div>
</div>
</div>

<div class="container-fluid padding">
<div class="row padding">
{% for instance in object_listwomen %}
  <div class="col-md-2">
    <div class="Card">
      <img class="card-img-top" src = "{{ instance.photo.url }}" width="175" height="225">
      <div class="card-body">
        <h6 class="card-title">{{ instance.title }}</h6>
        <p class="card-text">Brand: {{ instance.brand }} <br /> BDT {{ instance.price }}</p>
        <a href = "{{instance.get_absolute_url}}" class="btn btn-outline-secondary">View Product</a>
      </div>
    </div>
  </div>  
{% endfor %}
</div>
</div>


<div class="container-fluid padding">
<div class="row padding">
<div class="hover10 column">
  <div>
    <h2>Brands</h2>
    <img src="{% static 'img/occs.jpg' %}"/>

    
  </div>
</div>
</div>
</div>
</div>

<div class="container-fluid padding">
<div class="row padding">
{% for instance in list_brands %}
  <div class="col-md-2">
    <div class="Card">
      <img class="card-img-top" src = "{{ instance.photo.url }}" width="175" height="225">
      <div class="card-body">
        <h6 class="card-title">{{ instance.title }}</h6>
        <p class="card-text"></p>
        <a href = "{{ instance.link }}" class="btn btn-outline-secondary">View Brand</a>
      </div>
    </div>
  </div>  
{% endfor %}
</div>
</div>


</body>



{% endblock %}