{% extends 'base.html' %}

{% block content %}

{% load static %}


<head>
	<style>
		.card {
		  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		  max-width: 4 00px;
		  margin: auto;
		  text-align: center;
		  font-family: arial;
		}

		.price {
		  color: grey;
		  font-size: 22px;
		}

		.card button {
		  border: none;
		  outline: 0;
		  padding: 12px;
		  color: white;
		  background-color: #000;
		  text-align: center;
		  cursor: pointer;
		  width: 100%;
		  font-size: 18px;
		}

		.card button:hover {
		  opacity: 0.7;
		}
	</style>
</head>


<body>

	<h2 style="text-align:center">Product</h2>

	<div class="card">
	  <img src="{{ object.photo.url }}" style="width:100%">
	  <h1>{{ object.title }}</h1>
	  <p class="price">{{ object.price }}</p>
	  <p>Some text </p>
	  <p><a href="{{object.get_add_to_cart_url}}"> Add to Cart </a> <br />
	  	<a href="{{object.get_remove_from_cart_url}}"> Remove from Cart </a>
	  </p>
	</div>

</body>


{% endblock %}


